*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url('bg.png') center;

}
div{
    margin-top: 20px;
}
.wrapper{
    text-align: center;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.wrapper h1{
    padding-top: 100px;
    color: #fff;
    font-size: 50px;
}
 .login_link{
     position: absolute;
     right: 8%;
     top: 0%;
 }
 ul li{
     list-style: none;
 }
 ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 20px;
 }
 a:hover{
     background-color: #fff;
     color: #333;
 }
.container{
    width: 1000px;
    border: 2px solid #111;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('bcg.jpg');
    box-shadow: inset 0px 5px 30px grey;
}

.time{
    padding: 40px;
    width: 500px;
    font-size: 20px;
    font-weight: 800;
    border: 3px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.time p{
    padding: 5px;

}
button{
    cursor: pointer;
    padding: 5px;
    border-radius: 40px;
}

.input_seconds{
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 20px;
}
.accept{
    font-size: 20px;
    padding: 5px;
    border-radius: 40px;
    width: 100px;
    height: 50px;
    background-color: #10d610;
    margin-left: 20px;
}
.accept:hover{
    opacity: 1;
}

.accept_buttons{
    width: 500px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.btn-primary{
    width: 200px;
    height: 100px;
    font-size: 40px;
    margin-top: 30px;

}
.btn-primary:hover{
    background-color: #f3ecf3;
    box-shadow: 10px 10px 50px #f0f0f3;
}
.restart{
    width: 500px;
    height: 50px;
    font-size: 20px;
    margin: 40px 0px;
}
.restart:hover{
    background:linear-gradient(#456,#f34);
}
.field-error{
    color:#000;
    font-weight: 800;
    background-color: #f01a1a ;
}

.login_div{
    border:2px solid #90ee90;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    opacity: 0.75;
    background-color: #79e70a;

}

.login_input{
    margin-bottom: 50px;
    height: 50px;
    border-radius: 40px;
    font-size: 18px;
    padding-left: 10px;
}
.login_input{
    width: 300px;
}
.login_div p{
    font-size: 40px;
    color: #fff;
}

.submit{
    height: 50px;
    width: 200px;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 50px;
}
.submit:hover{
    color: #cdcdcc;
    background-color: #222b30;
    border: 2px solid #90ee90 ;

}
.no_active{
    display: none;
}

img{
    width: 35px;
    height: 35px;
    color: #fff;
    animation-name: rotate; 
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

h2{
    color:#fff;
}


@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

